<section id="OtherNews" style="border: none;">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-md-offset-1 col-lg-offset-1">
            <h2>
                <span>Liste des actualités</span>
                <label id="NewsSortByYear">
                    Trier par année
                    <select id="SelSortYearNews" name="sortYearNews">
                        <option>{{ "now"|date('Y') }}</option>
                        <option>2013</option>
                        {#<option>2012</option>#}
                        {#<option>2011</option>#}
                    </select>
                </label>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-md-10 col-md-offset-1 col-lg-offset-1">
            <ul id="ListOtherNews" >
                {% for a in actualites %}
                    <li class="row">
                        <div class="col-lg-5 col-md-5">
                            <img src="{{ a.thumbnail }}"/>
                        </div>
                        <div class="col-lg-7 col-md-7">
                            <h3>{{ a.post_title }}</h3>
                            <p class="posted">Le {{ a.post_date|date('d/m/Y') }}</p>
                            <p class="content">{{ a.post_content|raw }}</p>
                            <a class="more">Lire la suite...</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>