<div class="row">
    <h1 class="col-lg-12 col-md-12">
        {{ render.title }}
    </h1>
</div>
<div class="row">
    <div id="DescriptionPage" class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
        {{ render.description|raw }}
    </div>
</div>
<div id="Contact" class="row">
    <div class="col-lg-12 col-md-12">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1">
                <div>
                    <input type="text" name="nomContact" id="TxtNom" placeholder="Votre prénom et nom"/>
                    <input type="email" name="mailContact" id="TxtMail" placeholder="Votre adresse mail"/>
                    <input type="text" name="objetContact" id="TxtObjet" placeholder="Objet du message"/>
                    <textarea name="messageContact" id="TxtMessageRDV" placeholder="Votre message" style="margin: 15px 0px 0px; width: 365px; height: 194px;"></textarea>
                    <div id="Process" style="display:inline-block;margin-top:15px;"></div>
                    <button name="submitContact" id="BtnSubmitContact">Envoyer</button>
                </div>
            </div>
            <div id="GoogleMapContainer" class="col-lg-5">
                <div id="GoogleMap" style="border: 1px solid #676764;"><div class="loader" style="text-align:center;"><img src="{{ render.template_directory }}/images/loader.gif" alt="chargement de la carte..." style="padding-top:70px;"/></div></div>
                <div id="Coordonnees" style="border: 1px solid #676764;">
                    <p>ACTE 13</p>
                    <p>{{ render.coordonnees.adresse }}</p>
                    {% if render.coordonnees.complement_adresse %}<p>{{ render.coordonnees.complement_adresse }}</p>{% endif %}
                    <p>{{ render.coordonnees.code_postal }}</p>
                    <p>{{ render.coordonnees.telephone }}</p>
                    {% if render.coordonnees.fax %}<p>{{ render.coordonnees.fax }}</p>{% endif %}
                    <a href="mail:{{ render.coordonnees.email }}" class="email">{{ render.coordonnees.email }}</a>
                </div>
                <div id="PiecesJointes">
                    {% for f in render.fichiers %}
                        <a href="{{ f.fichier.url }}" class="link">Télécharger {{ f.fichier.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
    function initialize() {
        var lat = -25.363882;
        var lng = 131.044922;
        var myLatlng = new google.maps.LatLng(lat,lng);
        var mapOptions = {
            zoom: 10,
            center: myLatlng
        };
        var map = new google.maps.Map(document.getElementById('GoogleMap'), mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'ACTE13'
        });

        google.maps.event.addListener(marker, 'click', function() {
            var infowindow = new google.maps.InfoWindow({
                content: marker.title
            });
            infowindow.open(marker.get('map'), marker);
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
