<div class="row">
    <h1 class="col-lg-12 col-md-12">
        {{ render.title|raw }}
    </h1>
</div>
<div class="row">
    <div id="Description" class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
        {{ render.extrait|raw }}
    </div>
</div>
<div class="row">
    <ul class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1" id="Equipe">
        {% for r in render.fields %}
        <li class="col-lg-4 col-md-4">
            <div>
                <h2>{{ r.prenom_nom }}</h2>
                <p class="poste">{{ r.poste }}</p>
                <p>{{ r.biographie }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>