<!DOCTYPE html>
<html lang="fr">
<head prefix="og: http://ogp.me/ns#">
    <title>ACTE13 | {{ render.title|raw }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ render.template_directory }}/less/style.css">
    <link rel="icon" type="image/png" href="{{ render.template_directory }}/favicon.png">
    <meta name="description" content="{{ render.description|striptags }}">
    <meta charset="utf-8">
    <meta property="og:type" content="website">
    <link rel="canonical" href="http://localhost:3000/">
    <meta property="og:locale" content="fr_FR">
    <meta property="og:title" content="ACTE13 | {{ render.title|raw }}">
    <meta property="og:description" content="{{ render.description|striptags }}">
    <meta property="og:url" content="http://www.acte13.com/">
    <meta property="og:site_name" content="ACTE13">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="image_src" href="{{ render.template_directory }}/images/logo-acte13-bg.png">
    <meta property="og:image" content="{{ render.template_directory }}/screenshot.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
    <script src="{{ render.template_directory }}/js/html5shiv.js"></script>
</head>
<body id="Body" class="{{ render.title|raw }}">
    <header id="Header">
        <div id="HeaderCarousel" class="mask carousel slide" data-ride="carousel" data-interval="10000">
            <div class="carousel-inner">
                {% for image in render.headerBackground %}
                    <div class="item {% if loop.index0==0 %}active{% endif %}" style="background-image:url({{ image.image.sizes.large }})" ></div>
                {% endfor %}
            </div>
        </div>
        <nav class="container hidden-sm" id="LogoContainer">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <a href="http://www.acte13.fr"><img id="Logo" alt="ACTE13" src="{{ render.template_directory }}/images/logo-acte132.png"/></a>
                    {% if render.isHome %}
                        <h1 id="NomAssociation">Association pour la Concertation dans le Travail Educatif</h1>
                    {% else %}
                        <p id="NomAssociation">Association pour la Concertation dans le Travail Educatif</p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div id="MainNavigationContainer" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                    <ul id="MainNavigation">
                        {{ render.menu|raw }}
                    </ul>
                </div>

            </div>
        </nav>
        <div id="ButtonMenu" onclick="OpenMenu()" class="visible-xs visible-sm"></div>
    </header>
    <div class="container">
        <div class="row">
           <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
               <div id="Content" class="col-lg-12 col-md-12">